# Python コンパイル済みファイル
__pycache__/
*.pyc

# その他のバイナリファイル、ログファイル等
*.log
*.db
*.ibt
binlog.*
ib_buffer_pool
ibdata1
ibtmp1
*.ibd

.env

mysql/data
stockglance/data
stockglance/news_data
frontend/node_modules
backend/uploads

node_modules/

backend/app/affiliate_index_storage/default__vector_store.json
backend/app/article_index_storage/index_store.json
backend/google_suggestion/generated_suggestions.json
backend/scraped_links.txt
backend/scraped_content.txt