@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

html {
    font-size:62.5%;
}

  *, *::before, *::after {
    box-sizing:border-box;
}

.clearfix::after {
    content:'';
    display:block;
    clear:both;
}

*{
    margin: 0px;
    padding: 0px;
}

.registration{
    padding-top: 3vh;
    padding-bottom: 1vh;
}

.articles {
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}



.article-card {
    width: calc(50% - 20px);
    border-top: 7px solid #aaa;
    border-bottom: 7px solid #aaa;
    background-color: #eee;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* アップするエフェクトとシャドウのトランジション */
    aspect-ratio: 5/2.5;
    background-color: #eee;
}

.releasedate{
    display: flex;
    font-size: 0.8vw;
    height: 10%;
    padding-bottom: 10px;
}

.articlemain{
    display: flex;
    width: 100%;
    height: 40%;
    gap: 10px;
    font-weight: bold;
}

h2 {
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #2f72ba;/*左線*/
}

.title {
    flex: 5;
    font-size: 2vw;
    font-size: clamp(16px, 2vw, 32px);
}

.picture{
    flex: 5;
    justify-content: center;
    align-items: center;
}

.summary50words{
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
    height: 42%;
    width: 100%;
    padding-top: 2%;
}

.articlebutton {
    color: black;  /* テキストカラーを黒に */
    text-decoration: none;  /* 下線を消す */
    display: flex;
    padding-left: 80%;
}

.readbutton {
    display: inline-block;
    margin-left: 10px;
    background: none;
    border: none;
    padding: 0;
  }
  
  .readlink {
    text-decoration: none;
    color: #00000086;
    position: relative;
    display: inline-block;
    padding-bottom: 2px; /* 下線の位置調整 */
  }

  .readlink:hover {
    color: #00000086; /* hover時に色が変わらないように */
  }
  
  .underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #00000086;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .readlink:hover .underline {
    transform: scaleX(1);
  }
  